:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.react-datepicker__header{
  background-color: transparent !important;
} 
.react-datepicker__current-month{
  line-height: 1.2rem;
}

.react-datepicker{
  border: none !important;
}

.react-datepicker__header{
  border-bottom: none !important;
}

h2#fc-dom-86 {
  padding-left: 10px;
}

/* .fc-button-group {
  display: none !important;
} */

.layout-menu {
  transition: width 0.3s ease !important;
  overflow-x: hidden !important;
}

.layout-menu-collapsed {
  width: 80px !important ;
}

.layout-menu-expanded {
  width: 260px !important;
}

@media (max-width: 1199px) {
  .layout-menu-mobile {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 1001 !important;
    width: 260px !important;
    height: 100% !important;
    transform: translateX(-100%) !important;
    transition: transform 0.3s ease !important;
    background-color: #fff !important ;
  }

  .layout-menu-mobile.layout-menu-expanded {
    transform: translateX(0) !important;
  }
}
.app-calendar-wrapper .fc-toolbar h2 {
  margin-left: 20px !important;
}